*.exe
*.bin
*.user
*.cache
*.suo
*.obj
*.lib
*.mdf
*.ldf
*.edmx
*.diagram
*.designer
*.dgml
*DataModel.Designer.cs


_ReSharper*
_UpgradeReport_Files/
packages/
bin/
obj/
debug/
App_Data/
TestResults/
Backup/

UpgradeLog*

//Exclude
!NuGet.exe

*.ncrunch*