@model PagedList.IPagedList<MobilniPortalNovicLib.Models.NewsFile>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Delete all", "DeleteAll")
</p>

@Html.Partial("_NewsFilesTable", Model)



