<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MobilniPortalNovicContext12" connectionString="Server=85cb6b1a-69a1-400b-9dc5-a06100d90696.sqlserver.sequelizer.com;Database=db85cb6b1a69a1400b9dc5a06100d90696;User ID=eahtqdfvpzvvebby;Password=jpR3MvJgcDeAh2LMDutdYxdCiUnV3AHNvfRTkssVyjSjdTRTrkvWQagUmoS2iWmH;
" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=85cb6b1a-69a1-400b-9dc5-a06100d90696.sqlserver.sequelizer.com;Database=db85cb6b1a69a1400b9dc5a06100d90696;User ID=eahtqdfvpzvvebby;Password=jpR3MvJgcDeAh2LMDutdYxdCiUnV3AHNvfRTkssVyjSjdTRTrkvWQagUmoS2iWmH;
" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>