@model RssHtmlModelView
@{
    Layout = "_LayoutPublic";
}

<h2>Used filters</h2>
<ul>
    @foreach (var m in Model.FilterMessages)
    {
        <li>@m</li>
    }
</ul>

<h2>Included categories</h2>
<ul>
    @foreach (var category in Model.includedCategories)
    {
        <li>@category.Name</li>
    }
</ul>

<h3>News files</h3>
<ul>
    @foreach (var item in Model.newsFiles)
    {
        <li>@item.Title</li>
    }
</ul>
@Html.ActionLink("Personalized news", "PersonalizedHtmlTable")
